@use '../../lib/service.scss' as s;

.info {
    display: flex;
    flex-direction: column;
    // gap: s.space(1);
    width: 100%;
   
    &__title {
        font-size: 14px;
        font-weight: 700;     
    } 

    &__item {
        padding: s.space(2);
        
    }  
}