
<div class="card">
  <div class="card__header">
    <h2 class="card__title">{{data.message}}</h2>
    <p class="card__info">{{data.info}}</p>
  </div>
 <a href="{{data.link}}" class="card__button card__button--blue">Повернутися назад</a>
</div>

