<main>
  <section>
    {{#with data}}
    <h1 class="title">Список товарів</h1>
    {{!-- {{#each card}} --}}   

    <div class="product__cards">
      {{>product-card}}
    </div>
    {{product.name}}
    {{!-- {{/each}} --}}
    {{/with}}
  </section>  

</main>



