@use '../../lib/service.scss' as s;

// @use '../../component/button/style.scss' as button;
@use '../../component/product-card/style.scss' as product-card;

.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.product__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

main {
   display: flex; 
   flex-direction: column;
   gap: s.space(10);
}
